main{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top:  30px;
    margin-bottom: 30px;
}

.grid_1-1{
    display:grid;
    grid-template-columns: 1fr 2fr;
}

.mother_box{
    display: grid;
    max-width: 300px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    font-size: 16px;
    border-radius: 15px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.box_1{
    border-radius: 15px;
    background-color: rgba(228, 228, 228, 0.753);
    max-width: 300px;
    border: none;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    border-radius: 15px;
    margin: 40px;
    max-width: 100%;

}

.form, .form-1, .form-2{
    display: grid;
    grid-template-rows: 1fr 1fr;
}

form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin: 40px;
}

.form-1{
    grid-column-start: 1;
    grid-column-end: 3;
}

.form-2{
    grid-column-start: 1;
    grid-column-end: 3;
}

input, textarea, select{
    border:none;
    border-bottom: 2px solid black;
    background-color: #49581218;
    color: rgb(0, 0, 0);
    padding: 20px 20px;
    margin: 0.5px 0px;
    box-sizing: border-box;
}


button{
    grid-column-start: 1;
    grid-column-end: 3;
    width: 200px;
    height: 50px;
    border: none;
    text-align: center;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    background-color: #49581218;
    border-bottom: 2px solid black;
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}


@media (max-width: 900px){
    .grid_1-1{
        display:grid;
        grid-template-columns: 1fr;
    }
}