/* 
Created on : 07-05-2017, 10:46:38
Author     : Ivan
*/
/******************************************************************************/
/* BASIC ELEMENTS */
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Urbanist:wght@100&display=swap');

body {
    background-color: #f0f0f0;
    font-family: "Urbanist", sans-serif;
    font-size: 20px;
    color: #fff;
    letter-spacing: 2px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Urbanist", sans-serif;
    letter-spacing: 1px;
}

h1 {
    height: 50px;
    font-family: "Great Vibes", cursive;
}

h3 {
    font-size: 30px;
}

h1 a:link, h1 a:visited, h1 a:checked {
    color: #fff; }
h1 a:hover {
    text-decoration: none; }

a:link, a:visited, a:active, a {
    color: black;
    transition: all .3s;
}

a:hover {
    color: white;
    text-decoration: none;
}

/* CONTENT */
.clipin {
    display: none;
}

.header {
    margin: 15px auto;
    border-bottom: 5px solid darkred;
    text-align: center;
    padding: 30px;
}

#logo {
    transition: all .3s;
    margin-top: -70px;
}

.content-box-clean, .content-box, .comm-box, .pro-box-wrap {
    margin-bottom: 45px;
    text-align: justify;
}

.content-box, .comm-box, .content-box-long {
    background-color: white;
    color: black;
    border: 1px solid tan;
    padding: 30px;
    max-height: 400px;
}

.content-box-long {
    max-height: none;
    margin-bottom: 45px;
}

.comm-box {
    text-align: center;
    font-size: 26px;
}

.comm-box a, .comm-box .price {
    display: block;
    text-align: center;
    padding: 15px 30px;
    background-color: tan;
    color: white;
}
.comm-box p {
    text-align: justify; }

#cont_left, #cont_right {
    border: 2px solid tan;
    background-color: white;
    padding: 30px;
    color: black;
    min-height: 300px;
    position: relative;
    margin-bottom: 30px;
}

#cont_left_img img {
    width: 100%;
}

#cont_left a, #cont_right a {
    background-color: tan;
    width: calc(100% - 60px);
    padding: 15px;
    text-align: center;
    display: block;
    position: absolute;
    bottom: 30px;
    transition: all .3s; }
#cont_left a:hover, #cont_right a:hover {
    background-color: brown; }

.form-button {
    background-color: tan;
    width: 100%;
    padding: 15px;
    text-align: center;
    display: block;
    transition: all .3s;
    border: 0;
}

.form-button:hover {
background-color: brown; }

.diplom-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap:15px;
}

.diplom-grid img {
    width: 100%;
    height: 100px;
    object-fit: cover;
    opacity: 0.5;
    transition: all .3s;
}

.diplom-grid img:hover {
    opacity: 1;
}

/******************************************************************************/
.pro-box-wrap {
    padding: 0px;
    border: 1px solid tan;
    transition: all .3s;
}

.pro-box-wrap:hover {
    box-shadow: 0px 0px 12px rgba(155, 155, 155, 0.2);
}

.pro-box-content {
    text-align: justify;
    font-size: 26px;
    padding: 30px;
    min-height: 425px;
}

.pro-box-img {
height: 200px;
background-size: cover;
background-position: center;
position: relative; }
.pro-box-img h3 {
    bottom: 30px;
    margin: 0;
    position: absolute;
    right: 30px; }

.pro-box-link {
padding: 30px;
text-align: right; }
.pro-box-link a {
    display: block;
    text-align: center;
    padding: 15px 30px;
    background-color: tan;
    color: white;
    transition: all .3s; }
.pro-box-link a:hover {
    background-color: brown;
}

.breaker {
margin-left: -15px;
margin-right: -15px;
padding: 15px;
background-color: tan;
border-bottom: 3px solid white;
border-top: 3px solid white;
color: white;
text-align: center;
font-family: "Righteous", cursive;
font-size: 26px;
margin-bottom: 45px;
box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5); }

/* HORIZONTAL MENU */
#menuwrap {
width: 100%;
z-index: 101;
transition: all .3s;
}

.nav {
background-color: tan; }

.navbar-default {
position: fixed;
left: 0px;
top: 100px;
width: 100%;
background-image: none !important;
border-radius: 0px;
box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.4);
z-index: 99;
transition: all .3s; }
.navbar-default li a {
    color: white !important;
    transition: all .3s; }
.navbar-default li a:hover {
    background-color: brown !important; }

.nav-dropdown {
    position: absolute;
    list-style-type: none;
    padding: 0;
}

.nav-dropdown li {
    width: 20vw;
}

.nav-dropdown a {
    display: block;
    width: 20vw;
    padding: 10px 15px;
    background-color: tan;
    font-size: 20px;
    padding:15px 10px;
}

.nav-dropdown a:hover {
    color: brown;
    background-image: none !important;
}

.burger-menu-btn {
    position: fixed;
    padding: 20px;
    background-color: tan;
    border: 1px solid white;
    z-index: 100;
    right: 15px;
    top: 15px;
    display: none;
}

.affix {
top: 0px;
width: 100%; }

/* VERTICAL MENU */
/* BANNER & SLIDER */
.banner {
margin-left: -15px;
margin-right: -15px;
padding: 0px !important;
height: 100vh;
position: relative;
border-radius: 0px !important; }

.banner-caption {
display: none;
text-align: right;
position: absolute;
color: black;
width: 40vw;
top: 65vh;
right: 0;
padding: 15px;
/*background-color: rgba(0, 0, 0, 0.25);
border: 1px solid tan;*/
}

.banner-caption h4 {
    margin-top: 5vh;
    font-size: 32px;
    font-family: "Urbanist", sans-serif;
}

.slides {
width: 100%;
height: 100vh;
position: absolute;
background-position: center center;
background-repeat: no-repeat;
background-size: cover; }

.offer_item {
    display: grid;
    grid-template-columns: 70% 30%;
    margin-bottom: 20px;
}

.offer_name {
    font-size: 20px;
    color: orange;
    text-align: left;
}

.offer_price {
    font-size: 20px;
    text-align: right;
    color: green;
}

.offer_item p {
    grid-column: 1 / span 2;
    font-size: 15px;
}

.contact_question {
    color: black;
}

.contact_question h4 {
    font-size: 25px;
}

/* FORMS */
.form-control {
background-color: #fff; }

textarea, .input-group {
margin-bottom: 30px;
width: 100%; }

.input-group-addon {
background-color: tan; }

.btn-primary {
padding: 10px 30px;
min-width: 200px;
font-family: "Righteous", cursive;
border-radius: 0px;
letter-spacing: 2px;
background-color: tan;
border: 1px solid white;
transition: .3s all; }

.btn-primary:hover {
background-color: brown;
border: 1px solid white; }

/* MISC */
#carousel {
width: 100%;
height: 380px;
display: relative; }

#carousel img {
width: 256px;
height: 256px;
border-radius: 50%;
display: hidden;
/* hide images until carousel prepares them */
cursor: pointer;
/* not needed if you wrap carousel items in links */
border: 5px solid white;
box-shadow: 0px 0px 15px rgba(155, 155, 155, 0.3);
object-fit: cover;
object-position: center center; }

.carousel-caption {
display: none;
background-color: tan;
border: 1px solid white; }

/* BOTTOM */
.bottom {
background-color: tan;
margin-left: -15px;
margin-right: -15px;
position: relative;
padding: 30px;
height: 300px;
border-top: 3px solid white; }

.map-wrap {
padding: 0px;
margin-bottom: 0px;
line-height: 0; }

.offgrid {
position: fixed;
top: 45vh;
right: 0px;
z-index: 999;
border-bottom-left-radius: 4px;
border-top-left-radius: 4px;
background-color: brown;
transition: .3s all;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.offgrid:hover {
padding-right: 10px; }

.btn-social {
padding: 15px;
display: block; }

/* MISC */
#myCarousel {
height: 400px; }

#myCarousel .item {
    overflow: hidden;
    height: 400px;
}

.carousel-inner .item img {
width: 100%;
overflow: hidden;
object-fit: cover;
}

/* RESPONSIVE FIXUP */
@media screen and (max-width: 1200px) {
    .pro-box-content {
        min-height: auto;
    }
    .banner-caption {
        width: 100vw;
    }
    .content-box, .comm-box {
        max-height: auto;
    }
}

@media screen and (max-width: 800px) {
    .navbar-header { display: none; }
    #carousel {
        display: none;
    }
    #menuwrap {
        display: none;
    }
    .burger-menu-btn {
        display: block;
    }
    .nav-dropdown a {
        width: 100vw;
    }
    .banner-caption h4 {
        font-size: 20px;
    }
    .navbar-nav > li > a {
        padding-left: 30px;
    }
}

@media screen and (max-width: 320px) {
    .offgrid { top: 0px; }
    h1 a { font-size: 20px; }
}

/* No framework override */
body {
    margin: 0;
    padding: 0;
}

h5 {
    margin-bottom: 15px;
}

.container {
    width: 80%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.container-fluid {
    width: 100%;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.row-bottom {
    display: flex;
    gap: 0;
}

.col-lg-6, .col-sm-6, .col-md-6 {
    width: 50%;
}

.col-lg-12 {
    width: 100%;
}

.banner, .breaker, .bottom {
    margin-left: 0;
    margin-right: 0;
}

.content-box {
    max-height: none;
}

.container-top {
    margin-top: 30px;
}

#cont_left a, #cont_right a {
    width: calc(100% - 90px);
}

.navbar-brand {
    display: none;
}

.navbar-nav {
    list-style: none;
    float: left;
    display: block;
    padding: 0;
    margin: 0;
}

.navbar-header {
    width:10%;
    float: left;
}

.navbar-nav li {
    float: left;
}

.navbar-nav li a {
    padding: 10px 30px;
    display: block;
    text-decoration: none;
}

.nav-dropdown {
    display: none;
}

.nav-dropdown li {
    clear: both;
}

.input-group {
    display: grid;
    grid-template-columns: 45px calc(100% - 45px);
}

.input-group-addon {
    border: 1px solid tan;
    padding: 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    height: 18px;
    display: inline-block;
    font-size: 17px;
}

.form-control {
    border: 1px solid tan;
    height: 40px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 15px;
    margin-left: -7px;
}

textarea {
    min-height: 200px;
    margin-left: 0 !important;
    border-radius: 5px;
    width: 100% !important;
}

.form-button {
    color: fff;
}

.text-right {
    text-align: right;
}

/* Responsive fixup */
@media screen and (max-width: 800px) {
    .row, .row-bottom {
        flex-direction: column;
    }
    .col-lg-6, .col-sm-6, .col-md-6 {
        width: 100%;
    }
    .navbar-default {
        top: 0px;
    }
}

@media screen and (max-width: 560px) {
    .banner-caption h4 {
        display: none;
    }
}